@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.top-section{
    display: flex;
    padding: 70px 30px;
    background-image: url(./images/shapes/7.png);
    padding: 150px 30px 100px 30px;
}
.half-width{
    width: 50%;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
.orange-color{
    color: orangered;
}
.top-content{
    
    padding: 0 40px;
}
.top-image{
    
    background: url(./images/shapes/Group\ 8450.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.top-image img{
    width: 100%;
}
.btn{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right ,rgb(238, 197, 84),rgb(127, 129, 0));
    margin: 40px 0;
}
h2{
    font-size: 38px;
    font-weight: 600;
}
p{
    font-size: 18px;
    margin-bottom: 40px;
}
.second-section{
    display: flex;
    background:radial-gradient(rgb(97, 139, 197),rgb(243, 243, 243)) ;
    padding: 150px 30px 100px 30px;
    
}
.sec-img{
    padding: 30px 40px;
}
.sec-img img{
    width: 80%;
}
.sec-content{
    padding: 100px 30px;
}


.recipe-p,.recipe-t{

    text-align: center;
}
.recipe-p{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.recipe-t{
    margin-top: 50px;
}

.third-sec-card{
    display: flex;
    
  

}
.card-item{
    padding: 20px;
    margin: 70px ;
    width: 35%;

    height: 600px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgb(212, 197, 197);
    
}
.card-item img {
    width: 100%;
}
.card-item p{
    width: 100%;
}
.fourth-sec{
    width: 100%;
}
.follower-box{
    display: flex;
    margin: 0 10%;
    
    height: 300px;
    box-shadow: 1px 1px 2px 3px rgb(196, 196, 196);
    
    border-radius: 20px;
    margin-bottom: 100px;
    
}
.follower-box div{
    margin:4% 10%;
}

.follower-box div h1, .follower-box div p{
    text-align: center;
}
footer{
    margin: 50px 0 0 0;
    background: #000;
    padding: 50px;
}
footer h2, footer h6
{
    text-align: center;
}
.white-col{
    color: rgb(247, 244, 241);
}
.ash-color{
    color: rgb(68, 68, 68);
}